.header.top {
	background-color: #222;
}
header {
	width: 100%;
	height: 50px;
	z-index: 10;
	top: 0px;
	position: fixed;
	background-color: #3591fe;
	border-bottom: 1px solid rgba(150, 150, 150, 0.2);
	box-sizing: border-box;
	transition: All 0.2s ease;
	-webkit-transition: All 0.2s ease;
	-moz-transition: All 0.2s ease;
	-o-transition: All 0.2s ease;
	text-align: center;
	color: white;
	line-height: 50px;
}

#header {
	font-family: sans-serif;
	font-size: 20px;
	cursor:pointer
}

#selector {
	color: black;
	font-family: sans-serif;
	font-size: 20px;
}

#top {
	background-color: #00020b;
}

.ui.inverted.menu .item:before {
	background-color: #000000;
}