.notfound.banner {
	background-size: cover;
	overflow: hidden;
	height: 800px;
	background-color: #f0f0f0;
	text-align: center;
}

#notfound-coment {
	color: white;
	margin-top: 350px;
	font-size: 40px;
}