@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@charset "utf-8";
@font-face {
	font-family: 'sans-serif';
	font-weight: normal;
	font-style: normal
}

.home.background {
	background-color: #222;
	text-shadow: 0 0 5px #C8C8C8;
	background-size: cover;
	height: 400px;
	color: white;
	padding: 50px
}

.home.background.mobile {
	height: 300px;
}

.home.container {
	font-family: Consolas;
	margin-bottom: 200px;
}

.home.container.mobile {
	margin-bottom: 100px;
}

.date {
	color: #828282;
	font-size: 1rem;
}

::selection {
  background: #0080FF;
  text-shadow: none;
}

#default {
	font-size: 1.2rem;
	font-family: Consolas
}

#card {
	margin: auto;
}

.description {
	font-family: "NanumSquare";
	font-size: 1.5rem;
	font-weight: normal;
}

h1 {
	font-family: Consolas
}
