@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin);
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
.header.top {
	background-color: #222;
}
header {
	width: 100%;
	height: 50px;
	z-index: 10;
	top: 0px;
	position: fixed;
	background-color: #3591fe;
	border-bottom: 1px solid rgba(150, 150, 150, 0.2);
	box-sizing: border-box;
	transition: All 0.2s ease;
	-webkit-transition: All 0.2s ease;
	-moz-transition: All 0.2s ease;
	-o-transition: All 0.2s ease;
	text-align: center;
	color: white;
	line-height: 50px;
}

#header {
	font-family: sans-serif;
	font-size: 20px;
	cursor:pointer
}

#selector {
	color: black;
	font-family: sans-serif;
	font-size: 20px;
}

#top {
	background-color: #00020b;
}

.ui.inverted.menu .item:before {
	background-color: #000000;
}
.notfound.banner {
	background-size: cover;
	overflow: hidden;
	height: 800px;
	background-color: #f0f0f0;
	text-align: center;
}

#notfound-coment {
	color: white;
	margin-top: 350px;
	font-size: 40px;
}
.blog.background {
	background-color: #222;
	text-shadow: 0 0 5px #C8C8C8;
	background-size: cover;
	height: 400px;
	color: white;
	padding: 50px
}

.blog.container {
	font-family: Consolas;
	margin-top: 50px;
	margin-bottom: 300px;
}

#blog_header {
	color: #2185d0;
}

#blog_tab {
	margin: 0px 20px;
	font-size: 1.3rem;
	color: rgba(0,0,0);
	font-weight: bold;
	font-family: "NanumSquare";
}

#blog_list_item {
	padding: 30px 20px;
}

#blog_list_header {
	cursor: pointer;
	color: rgba(0,0,0);
	margin: 20px;
	font-size: 2rem;
	font-weight: bold;
	font-family: "NanumSquare";
}

#blog_list_content {
	cursor: pointer;
	color: rgba(0,0,0,.7);
	font-size: 1.2rem;
	margin: 20px;
	font-family: "NanumSquare";
}

a.item >  a {
	color: #6d6d6d;
}
a.item >  a:hover {
	color: #bbbbbb;
}

h1 {
	font-family: Consolas;
}

p {
	font-size: 16px;
	font-family: "NanumSquare";
}

.ui.sticky{
	margin-top: 75px;
}

pre {
	background-color: #f6f8fa;
	padding: 10px;
	overflow: scroll;
}

code {
	font-family: SFMono-Regular;
	font-size: 13.6px;
}
table, th, td { border: 1px solid #bbbbbb; padding: 4px; }
table { border-collapse: collapse; }
blockquote {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 20px;
  padding-right: 20px;
  border-left: 5px solid #27e372;
}

img {
	width: 100%;
}

@charset "utf-8";
@font-face {
	font-family: 'sans-serif';
	font-weight: normal;
	font-style: normal
}

body {
	margin: 0;
	padding: 0;
	font-family: 'sans-serif';
	background: #ffffff;
	text-align: left;
	width: 100%;
	color: #000000;
}

div#wapper {
	width: 100%;
	text-align: left;
	min-height: 300px;
	margin: 0 auto;
}

#menu-button {
	z-index: 4;
	position: fixed;
	width: 50px;
	height: 50px;
	right: 20px;
	top: 30px;
	color: #ffffff;
}

.headroom-wrapper {
	height: 65px;
}
.tag.background {
	background-color: #222;
	text-shadow: 0 0 5px #C8C8C8;
	background-size: cover;
	height: 400px;
	color: white;
	padding: 50px;
}

.tag.container {
	font-family: Consolas;
	margin-top: 50px;
	margin-bottom: 300px;
}

.tag.container2 {
	margin: 0px 500px;
	text-align: left;
}

@media (max-width: 1600px) {
	.tag.container2 {
		margin: 0px 300px;
	}
}

@media (max-width: 1200px) {
	.tag.container2 {
		margin: 0px 200px;
	}
}

@media (max-width: 1000px) {
	.tag.container2 {
		margin: 0px 100px;
	}
}

a.item >  a {
	color: #6d6d6d;
}
a.item >  a:hover {
	color: #bbbbbb;
}

h1 {
	font-family: Consolas;
}

p {
	font-size: 16px;
	font-family: "NanumSquare";
}

pre {
	background-color: #f6f8fa;
	padding: 10px;
	overflow: scroll;
}

code {
	font-family: SFMono-Regular;
	font-size: 13.6px;
}
table, th, td { border: 1px solid #bbbbbb; padding: 4px; }
table { border-collapse: collapse; }
blockquote {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 20px;
  padding-right: 20px;
  border-left: 5px solid #27e372;
}

img {
	width: 100%;
}

