@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

.blog_background {
	background-color: #222;
	text-shadow: 0 0 5px #C8C8C8;
	background-size: cover;
	height: 400px;
	color: white;
	padding: 50px
}

.blog_container {
	font-family: Consolas
}

h1 {
	font-family: Consolas
}

.ui.sticky{
	margin-top: 75px;
}